# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=3a36441656c1792190f2bb6fae802418
#TRUSTED_PROXIES=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
#TRUSTED_HOSTS='^(localhost|example\.com)$'
###< symfony/framework-bundle ###

DOCKER_IMAGE_NAME=stocks-api-php-fpm:lastest
DOCKER_RUNNING_IMAGE_NAME=stocks-api-running
PHP_FPM_IMAGE_PORT=
NGINX_PORT=

###> doctrine/doctrine bundle ###
DATABASE_SERVER_VERSION=5.6
DATABASE_DRIVER=mysql
DATABASE_HOST=stock-api-database
DATABASE_USER=symfony
DATABASE_PASSWORD=symfony
DATABASE_NAME=stocks_api
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=0c256b601a7ab8236a7a48e7e53f8dda
###< lexik/jwt-authentication-bundle ###
