.idea/
.DS_Store
/cert/*

###> symfony/framework-bundle ###
/.env
/build/
/vendor/
/var/
/logs/*
/repos/*

###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
/config/jwt/passphrase.txt

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###
