default:
    suites:
        default:
            filters:
                tags: "~@wip"
            contexts:
                - App\Tests\Behat\ExtendedRestContext
                - App\Tests\Behat\DatabaseContext
                - Behat\MinkExtension\Context\MinkContext
                - App\Tests\Behat\FixtureContext
                - Behatch\Context\JsonContext
                - Behatch\Context\RestContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: App\Kernel
                environment: "test"
                debug: true

        Behat\MinkExtension:
            base_url: "http://localhost:8080/api/stocks/v1"
            sessions:
                default:
                    symfony: ~
        Behatch\Extension: ~