{
    "name": "Stocks Api",
    "homepage": "localhost:8080",
    "output-dir": "web",
    "output-html": true,
    "repositories": [
    ],
    "require-all": true,
    "require-dependencies": true,
    "require-dev-dependencies": true,
    "include-filename": "include\/all$%hash%.json",
    "minimum-stability": "dev",
    "providers": false
}
